<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wishlist.user_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @wishlist.product_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @wishlist.category_id %>
</p>

<p>
  <strong>Insert date:</strong>
  <%= @wishlist.insert_date %>
</p>

<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>
